<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/fd9a0f2dab.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <section class="banner">
            <img  src="../img/logo.jpeg" alt="perfil" width="200" height="200" >
        </section>

        <H1>CURRICULUM &nbsp;&nbsp;VITAE &nbsp;&nbsp;DE&nbsp;&nbsp; ELKIN&nbsp;&nbsp; FUENTES</H1>
        <br>
        <br>
        

        <section>
            <h2>SOBRE MI</h2>
            <article>
              <P><h3> Hobbies </h3>
                 <ul> 
                     <li>Estudiar y aprender</li>
                     <li>Leer</li>
                     <li>Cocinar</li>
                     <li>Video Juegos</li>
                     <li>Programar</li>
                     
                 </ul>
              </P>
            </article>
        </section>

        <section>
            <h2>SOBRE MI</h2>
            <article>
              <P><h3>Proyectos trabajados</h3>
                 <ul> 
                     <a href="http://ekn31.herokuapp.com/"><li>Nodejs</li></a>
                     <a href="http://ekn31.herokuapp.com/hoteles"><li>Bootstrap 4</li></a>
                 </ul>
              </P>
            </article>
        </section>

        
    </main>

    <footer class="footer">
        <p>Ekn31@hotmail.com     <a href="https://github.com/ekn31"><i class="incos fab fa-github"></i></p></a>
        <p><a href="../index.html"><button type="button"  >ATRAS</button></a></p> 
        
</footer>
</body>

</html>